@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #191A19;
    --cor-secundaria: #D8E9A8;
    --cor-terciaria: #4E9F3D;
    --cor-hover: #1E5128;
    --font-primaria: 'Krona one', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}
.titulo-destaque{
    color: var(--cor-terciaria);
}
.apresentacao{
    padding: 5% ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--font-primaria);
}
.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apresentacao__links__subtitulo{
    font-family: var(--font-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}
.apresentacao__links__link{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
}
.apresentacao__links__link:hover{
    background-color: var(--cor-hover);
}
.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

.apresentacao__image {
    width: 400px;
}

.logos {
    height: 35px;
}

.logos:hover {
    height: 37px;
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 20px;
}

.cabecalho__menu__link {
    font-family: var(--font-secundaria);
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.linguagens:hover {
    color: var(--cor-terciaria);
    font-size: 1.5625rem;
}

.apresentacao__conteudo__texto a{
    text-decoration: none;
    color: #22d4fd;
}

@media(max-width: 1054px){
    .apresentacao{
        flex-direction: column-reverse;
        padding: 3%;
    }
    .cabecalho{
       padding:  3%;
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao__conteudo{
        width: auto;
    }
    .rodape{
        width: auto;
    }
}